@model WebNhac.ViewModels.UserViewModel

<hr />
<br />
<head>
</head>
<section style="background-color: lightskyblue;">
    <div class="panel panel-primary">
        <div class="row">
            <div class="row">
                <br />
                <div class="col-md-7" style="margin-left:30px;margin-top:20px">
                    <label style="color:black;font-size:larger;font-family:Arial">Thông tin người dùng</label>
                    <div class="card mb-4">
                        <div class="card-body">
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Username</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.Register.Username</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Name</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.Register.Name</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Email</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.Register.Email</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0">Phone</p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">@Model.Register.Phone</p>
                                </div>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="sua-thong-tin" class="btn btn-primary">Chỉnh sửa thông tin</a>
                                <a href="trang-chu" class="btn btn-outline-secondary ms-1">Quay lại</a>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>Lịch sử nghe nhạc</h3>
                    @for (int i = 0; i < Model.historyMusic.Count; i++)
                    {
                        var item = Model.historyMusic[i];
                        var singer = Model.singerMusic[i];
                        var date = Model.historyDate[i];
                        <div class="music-info">
                            <a href="/bai-hat/@item.Link-@item.IdMusic">
                                <div class="Music-History">
                                    <ul>
                                        <li>
                                            <h5 style="font-weight: bold; display: inline-block;">@item.Name</h5>
                                        </li>
                                    </ul>
                                </div>
                            </a>
                            <h5>
                                <ul>
                                    <li>
                                        <i>
                                            <i>@singer.Name</i>
                                            <div style="display: inline-block; margin-left: 100px; vertical-align: middle;">
                                                <form asp-action="DeleteHistory" method="post" style="display: inline;">
                                                    <input type="hidden" name="historyId" value="@Model.History[i].IdHistory" />
                                                    <button type="submit" style="background: none; border: none; padding: 0; cursor: pointer;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                                        </svg>
                                                    </button>
                                                </form>
                                            </div>
                                        </i>
                                    </li>
                                </ul>
                            </h5>
                            <ul>
                                <li>
                                    <h6>
                                        Ngày: @date.ToString("dd/MM/yyyy")---
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z" />
                                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                                        </svg>
                                        @date.Hour:@date.Minute
                                    </h6>
                                </li>
                            </ul>
                            <hr style="border:ridge;color:black;border-width: 2px">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
