@model WebNhac.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "QLDanhmuc";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center">QLDanhmuc Page</h2>
<body>

    <div class="container" style="margin:unset">
        <h2>Danh sách thể loại</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Order</th>
                    <th>Link</th>
                    <th>Hide</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MusicTypes)
                {
                    <tr>
                        <td>@item.IdMusictype</td>
                        <td>@item.Name</td>
                        <td>@item.Order</td>
                        <td>@item.Link</td>
                        <td>@item.Hide.ToString()</td>
                        <td>
                            <button type="button" class="btn btn-primary">Edit</button>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>

